<!--@subject {{var store.getFrontendName()}}: L'enviament {{var shipment.increment_id}} té un nou comentari @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Order Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}


<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <p>La petició {{var order.increment_id}} té un nou comentari</p>
                        <p class="caja">{{var comment}}</p>
                        <p>Pots comprovar l’estat de la petició autentificant-te al teu compte de l’aplicació.</p>
                        <p>Si tens qualsevol pregunta, no dubtis a contactar amb nosaltres mitjançant l’adreça de correu {{var store_email}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
