<!--
/**
 * Advanced Permissions
 *
 * @category:    Aitoc
 * @package:     Aitoc_Aitpermissions
 * @version      2.10.7
 * @license:     n/a
 * @copyright:   Copyright (c) 2015 AITOC, Inc. (http://www.aitoc.com)
 */
--><!--@subject 
Approve new category 
@-->

<!--@styles
body { background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0; }
@-->

<h4>Hello</h4>
<p>This is an auto notification from the <a href='{{var website}}'>{{var website}}</a>.</p>
<p>Administrator user {{var admin_name}} has added new category.</p>
<p>
	Category name: {{var category_name}}
	ID: {{var category_id}}	
</p>
<p>The category is waiting for your approval to be enabled.</p>
<p>Thank you.</p>