<?php
    // Itteria - El pedido se guarda en el registro y tenemos que acceder a él
    $_order = Mage::registry('current_order');

    if($_order->getStatusLabel() == 'Pendent de resolució'){ ?>
    <?php // Itteria: Insertamos un formulario donde introducimos los datos para la aceptación del presupuesto del proveedor ?>
    <?php
        if($_order->getPresupuesto() != "Pendiente"){
            $presupuesto = Mage::getModel('mktpsuperorder/budget')->load($_order->getPresupuesto());
        }
    ?>
    <form class="form-presupuesto" onkeypress="return event.keyCode != 13;" method="post" action="<?php echo Mage::getUrl('mktpsuperorder/budget/accept'); ?>">
        <div class="bloque">
            <label>Codi d’expedient</label>
            <input type="text" name="expediente_cod" value="<?php if($_order->getPresupuesto() != "Pendiente"){ echo $presupuesto->getExpediente(); } ?>" required />
        </div>
        <div class="bloque">
            <label>Codi d’oficina comptable</label>
            <select name="oficina_cod" width="365" style="width: 365px">
                <?php if($_order->getPresupuesto() != "Pendiente"){ echo '<option>' . $presupuesto->getOficina() . '</option>'; } ?>
                <option>A09006061   INTERVENCIÓ GENERAL</option>
                <option>A09018876   INTERVENCIÓ GENERAL</option>
            </select>
        </div>
        <div class="bloque">
            <label>Codi d’òrgan gestor</label>
            <select name="organo_cod" width="365" style="width: 365px">
                <?php if($_order->getPresupuesto() != "Pendiente"){ echo '<option>' . $presupuesto->getOrgano() . '</option>'; } ?>
                <option>A09002972   DEPARTAMENT DE BENESTAR SOCIAL I FAMÍLIA</option>
                <option>A09006036   SECRETARIA GENERAL DE BENESTAR SOCIAL I FAMÍLIA</option>
                <option>A09006043   SECRETARIA D'INCLUSIÓ SOCIAL I DE PROMOCIÓ DE L'AUTONOMIA PERSONAL</option>
                <option>A09006037   SECRETARIA DE FAMÍLIA</option>
                <option>A09002975   DEPARTAMENT D'ECONOMIA I CONEIXEMENT</option>
                <option>A09006058   SECRETARIA GENERAL D'ECONOMIA I CONEIXEMENT</option>
                <option>A09006059   SECRETARIA D'HISENDA</option>
                <option>A09006060   SECRETARIA D'UNIVERSITATS I RECERCA</option>
                <option>A09006061   INTERVENCIÓ GENERAL</option>          
                <option>A09002979   DEPARTAMENT D'INTERIOR</option>
                <option>A09006077   SECRETARIA GENERAL D'INTERIOR</option>
                <option>A09018809   SECRETARIA GENERAL DE TREBALL, AFERS SOCIALS I FAMÍLIES</option>
                <option>A09018806   SECRETARIA GENERAL DE LA VICEPRESIDÈNCIA I D'ECONOMIA I HISENDA</option>
                <option>A09006077   SECRETARIA GENERAL D'INTERIOR</option>
            </select>
        </div>
        <div class="bloque">
            <label>Codi d’unitat tramitadora</label>
            <select name="unidad_cod" width="365" style="width: 365px">
                <?php if($_order->getPresupuesto() != "Pendiente"){ echo '<option>' . $presupuesto->getUnidad() . '</option>'; } ?>
                <option>A09006113   DIRECCIÓ DE SERVEIS</option>
                <option>A09006120   DIRECCIÓ DE SERVEIS</option>
                <option>A09006151   DIRECCIÓ DE SERVEIS</option>
                <option>A09018948   DIRECCIÓ DE SERVEIS</option>
                <option>A09018849   DIRECCIÓ DE SERVEIS</option>
            </select>
        </div>
        <div class="bloque">
            <label>Adreça de facturació</label>
            <input type="text" name="facturacion_dir" value="<?php if($_order->getPresupuesto() != "Pendiente"){ echo $presupuesto->getFacturacion(); } ?>" required />
        </div>
        <input type="hidden" name="order_id" value="<?php echo $_order->getId() ?>" />
        <button class="button" type="submit">Entrar dades econòmiques</button>
    </form>
    <?php if($_order->getPresupuesto() != "Pendiente"){ ?>
        <form class="form-pdf" method="POST" action="<?php echo Mage::getUrl('mktpsuperorder/index/pdf'); ?>">
            <input type="hidden" name="order_id" value="<?php echo $_order->getId() ?>" />
            <button class="button" type="submit">Generar PDF</button>
        </form>
        <form class="confirm-presupuesto" method="POST" action="<?php echo Mage::getUrl('mktpsuperorder/budget/confirm'); ?>" onsubmit="return confirm('Voleu confirmar la comanda i avisar el proveïdor?');">
            <input type="hidden" name="order_id" value="<?php echo $_order->getId() ?>" />
            <button class="button" type="submit">Confirmar pressupost</button>
        </form>
    <?php } ?>
<?php 
    }else{
        $presupuesto = Mage::getModel('mktpsuperorder/budget')->getCollection()->addFieldToFilter('order_id',$_order->getId())->getFirstItem();
    ?>
        <div class="info-presupuesto">
            <h4>Codi d’expedient</h4>
            <p><?php echo $presupuesto['expediente'] ?>
            <h4>Codi d’oficina comptable</h4>
            <p><?php echo $presupuesto['oficina'] ?>
            <h4>Codi d’òrgan gestor</h4>
            <p><?php echo $presupuesto['organo'] ?>
            <h4>Codi d’unitat tramitadora</h4>
            <p><?php echo $presupuesto['unidad'] ?>
            <h4>Adreça de facturació</h4>
            <p><?php echo $presupuesto['facturacion'] ?>
        </div>
        <form class="form-pdf-confirmado" method="POST" action="<?php echo Mage::getUrl('mktpsuperorder/index/pdf'); ?>">
            <input type="hidden" name="order_id" value="<?php echo $_order->getId() ?>" />
            <button class="button" type="submit">Generar PDF</button>
        </form>
<?php } ?>
