<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-products">Pressupostos per la comanda</h4>
    </div>
</div>
<?php

    // Itteria - El pedido se guarda en el registro y tenemos que acceder a él
    $order = Mage::registry('current_order');

    // Obtenemos la última ponderación de este pedido
    $idsRechazo  = $order->getIdsRechazos();
    $ponderacion = $order->getUltimaPonderacion();
    $proveedores = $ponderacion->getProveedores();

    // Itteria - Obtenemos los datos del IVA
    $tax = Mage::getModel('tax/calculation_rate')->loadByCode('IVA');
    
    // Montamos el array de aceptados
    $aceptados = array();
    foreach ($proveedores as $proveedor) {

        // Itteria - Obtenemos la tienda
        $store = Mage::getModel('core/store')->load($proveedor['store_id']);
        
        // Si es rechazado, no figura en esta tabla
        if (in_array($proveedor['store_id'], $idsRechazo)) { continue; }
        
        $aceptados[] = array(
            'empresa' => $proveedor['proveedor'],
            'cif'     => $store->getGroup()->getName(),
            'importe' => number_format($proveedor['subtotal'] * (($tax['rate']+100)/100), 2, "," , ".") . ' €',
            'total'	  => $proveedor['subtotal'],
        );
    }

    // Itteria - Ordenamos las ponderaciones en funcion de su precio total
    foreach ($aceptados as $clave => $fila) {
        $total_aceptados[$clave] = $fila['total'];
    }
    array_multisort($total_aceptados, SORT_ASC, $aceptados);

    // Itteria - Obtenemos la ultima ponderacion del pedido
    $ponderaciones = Mage::getModel('mktpsuperorder/ponderacion')->getCollection()->addFieldToFilter('order_id', $order->getId());
    $ultima_ponderacion_id = 0;
    foreach ($ponderaciones as $ponderacion) {
        if($ponderacion->getId() > $ultima_ponderacion_id){
            $ultima_ponderacion_id = $ponderacion->getId();
            $ultima_ponderacion = $ponderacion;
        }
    }
?>
<?php $count = 0; ?>
<div class="informacion-pedido accordion">
    <?php 
        foreach ($aceptados as $aceptado){
            $count++;
            ?>
            <a class="accordion-section-title" href="#accordion-<?php echo $count ?>">
                <?php echo $aceptado['empresa'] . ' ( NIF: ' . $aceptado['cif'] . ' ) <b> Total: ' . $aceptado['importe'] . '</b>' ?>
            </a>
            <div class="pedido-direccion accordion-section-content" id="accordion-<?php echo $count ?>">
                <div class="grid np">
                    <div class="hor-scroll">
                        <table class="data-table linearize-table-large">
                            <thead>
                                <tr>
                                    <th class="a-center"><?php echo __('Proveïdor'); ?></th>
                                    <th class="a-center"><?php echo __('CIF'); ?></th>
                                    <th class="a-center"><?php echo __('Importe'); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="a-center"><?php echo $aceptado['empresa']; ?></td>
                                    <td class="a-center"><?php echo $aceptado['cif']; ?></td>
                                    <td class="a-center"><?php echo $aceptado['importe']; ?></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="data-table linearize-table-large">
                            <thead>
                                <tr class="headings">
                                    <th class="a-center"><?php echo __('Producte'); ?></th>
                                    <th class="preu-table a-center"><?php echo __('Preu'); ?></th>
                                    <th class="a-center"><?php echo __('Quantitat'); ?></th>
                                    <th class="a-center"><?php echo __('Subtotal S/IVA'); ?></th>
                                </tr>
                            </thead>
                            <tbody class="odd">
                                <?php
                                    $proveedor_ponderacion = Mage::getModel('core/store')->getCollection()->addFieldToFilter('name', $aceptado['empresa']);     
                                    $productos = Mage::getModel('mktpsuperorder/ponderacion_item')->getCollection()->addFieldToFilter('ponderacion_id', $ultima_ponderacion_id);
                                    foreach ($productos as $producto) {
                                        $proveedor_producto = Mage::getModel('mktpsuperorder/ponderacion_proveedor')->load($producto->getData('proveedor_id'));
                                        if($proveedor_producto->getProveedor() == $aceptado['empresa']){ ?>
                                            <tr>
                                                <td><?php echo Mage::getModel('catalog/product')->load($producto->getData('product_id'))->getName() ?></td>
                                                <td class="a-center"><?php echo number_format($producto->getData('price'), 2, "," , ".") . ' €' ?></td>
                                                <td class="a-center"><?php echo $producto->getData('qty') ?></td>
                                                <td class="a-center"><?php echo number_format($producto->getData('row_total'), 2, "," , ".") . ' €' ?></td>
                                            </tr>
                                        <?php }
                                    }    
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <?php }
    ?>
</div>
<br />
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-products">Rebuigs</h4>
    </div>
</div>

<?php

// Obtenemos los rechazos para el pedido actual
$rechazos = $order->getInfoRechazos();

// Itteria - Obtenemos todos los datos del pedido
$order_real = Mage::getModel('sales/order')->load($order->getId());

// Montamos la estructura de datos necesaria
$rechazados = array();
foreach ($rechazos as $rechazo) {

    // Itteria - Obtenemos la tienda
    $store = Mage::getModel('core/store')->load($rechazo['proveedor']);

    // Itteria - Obtenemos todos los comentarios del pedido
    $history = $order_real->getStatusHistoryCollection();

    // Itteria - Buscamos el comentario de rechazo de ese proveedor
    foreach ($history as $comment) {
        if(strpos($comment->getComment(),$store->getName()) != FALSE){
            $comment_parts = explode('Preu Comanda:', $comment->getComment());
            $comment_reason = explode('següent raó: ', $comment_parts[0]);
        }
    }

    $rechazados[] = array(
        'empresa' => $store->getName(),
        'cif'     => $store->getGroup()->getName(),
        'montiu'  => number_format($rechazo['total'], 2, "," , ".") . ' €',
        'total'	  => $rechazo['total'],
        'comment' => $comment_reason[1],
    );
}


// Itteria - Ordenamos las ponderaciones en funcion de su precio total
foreach ($rechazados as $clave => $fila) {
    $total_rechazados[$clave] = $fila['total'];
}
array_multisort($total_rechazados, SORT_ASC, $rechazados);
?>
<div class="informacion-pedido accordion">
    <?php 
        foreach ($rechazados as $rechazado){
            $count++;
            ?>
            <a class="accordion-section-title" href="#accordion-<?php echo $count ?>">
                <?php echo $rechazado['empresa'] . ' ( NIF: ' . $rechazado['cif'] . ' ) <b> Total: ' . $rechazado['montiu'] . '</b>' ?>
            </a>
            <div class="pedido-direccion accordion-section-content" id="accordion-<?php echo $count ?>">
                <div class="grid np">
                    <div class="hor-scroll">
                        <table class="data-table linearize-table-large">
                            <thead>
                                <tr class="headings">
                                    <th class="a-center"><?php echo __('Proveedor'); ?></th>
                                    <th class="a-center"><?php echo __('CIF'); ?></th>
                                    <th class="a-center"><?php echo __('Importe'); ?></th>
                                    <th class="a-center"><?php echo __('Coentario'); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border ">
                                    <td class="a-center"><?php echo $rechazado['empresa']; ?></td>
                                    <td class="a-center"><?php echo $rechazado['cif']; ?></td>
                                    <td class="a-center"><?php echo $rechazado['montiu']; ?></td>
                                    <td class="a-center"><?php echo $rechazado['comment']; ?></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="data-table linearize-table-large">
                            <thead>
                                <tr class="headings">
                                    <th class="a-center"><?php echo __('Producte'); ?></th>
                                    <th class="a-center preu-table"><?php echo __('Preu'); ?></th>
                                    <th class="a-center"><?php echo __('Quantitat'); ?></th>
                                    <th class="a-center preu-table"><?php echo __('Subtotal S/IVA'); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                    $proveedor_ponderacion = Mage::getModel('core/store')->getCollection()->addFieldToFilter('name', $rechazado['empresa']);     
                                    $productos = Mage::getModel('mktpsuperorder/ponderacion_item')->getCollection()->addFieldToFilter('ponderacion_id', $ultima_ponderacion_id);
                                    foreach ($productos as $producto) {
                                        $proveedor_producto = Mage::getModel('mktpsuperorder/ponderacion_proveedor')->load($producto->getData('proveedor_id'));
                                        if($proveedor_producto->getProveedor() == $rechazado['empresa']){ ?>
                                            <tr>
                                                <td><?php echo Mage::getModel('catalog/product')->load($producto->getData('product_id'))->getName() ?></td>
                                                <td class="a-center"><?php echo number_format($producto->getData('price'), 2, "," , ".") . ' €' ?></td>
                                                <td class="a-center"><?php echo $producto->getData('qty') ?></td>
                                                <td class="a-center"><?php echo number_format($producto->getData('row_total'), 2, "," , ".") . ' €' ?></td>
                                            </tr>
                                        <?php }
                                    }    
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <?php }
    ?>
</div>
<br />

<?php // Itteria: Javascript encargado de hacer el accordion ?>
<script type="text/javascript">
    jQuery(document).ready(function() {
        function close_accordion_section() {
            jQuery('.accordion .accordion-section-title').removeClass('active');
            jQuery('.accordion .accordion-section-content').slideUp(300).removeClass('open');
        }

        jQuery('.accordion-section-title').click(function(e) {
            // Grab current anchor value
            var currentAttrValue = jQuery(this).attr('href');

            if(jQuery(e.target).is('.active')) {
                close_accordion_section();
            }else {
                close_accordion_section();

                // Add active class to section title
                jQuery(this).addClass('active');
                // Open up the hidden content panel
                jQuery('.accordion ' + currentAttrValue).slideDown(300).addClass('open'); 
            }

            e.preventDefault();
        });
    });
</script>