/* CSS ITTERIA */

/* FONTS */
@font-face {
    font-family: 'Open Sans';
    src: url('fonts/opensans-regular-webfont.eot');
    src: url('fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('fonts/opensans-regular-webfont.woff') format('woff'),
         url('fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GLOBALES */
.truncated .truncated_full_value .item-options::after{
	border-width: 0px;
}
.w-90{
	width: 90%;
}
.a-center{
	text-align: center;
}
input.qty[type="number"], 
input.qty[type="text"]{
	width: 5em;
}

/* PRODUCTOS */
.product-options dd select{
	height: 33px;
	width: auto;
	padding: 5px;
}
#product-options-wrapper img{
	display: inline-block;
}
#itoris-wishlist-popup h4{
	margin-left: 0px !important;
	text-align: center;
}
#itoris-wishlist-popup-loading{
	background: rgba(244, 244, 244, 0.5) url("../images/loader-whis.gif") no-repeat scroll center center;
}
.product-view .add-to-cart .qty-wrapper .qty{
	width: 67px;
}

/* LISTADO PRODUCTOS */
.products-grid .product-info{
	padding-bottom: 10px;
}
.products-grid .product-info .product-name{
	margin-top: 20px;
}
.category-products .sort-by{
	display: none;
}
.cms-page-view .std h1, 
.cms-no-route .std h1{
	color: #333333;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-bottom: 3px;
    text-transform: uppercase;
}


/* HEADER */
.page .page-header{
	max-width: 100%;
	background: #F5F5F5;
}
.page .page-header .page-header-container{
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 30px;
}
.account-cart-wrapper{
	margin-right: 22px;
	margin-top: 22px;
}
.skip-link{
	background: transparent;
}
.page .breadcrumbs{
	margin: 0;
	background: #F5F5F5;
	padding: 15px 0px;
}
.page .breadcrumbs ul{
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 30px;
}
.page .breadcrumbs ul li{
	text-transform: none;
}
.page .breadcrumbs ul li a{
	color: #fff;
	background: #333333;
	padding: 2px 10px;
	border-radius: 2px;
}
.page .breadcrumbs ul li span{
	display: inline-block;
	margin-top: 2px;
}
.page .breadcrumbs ul li strong{
	vertical-align: sub;
	display: inline-block;
}


/* USUARIOS */
	
	/*	Login */
	.customer-account-login .col2-set .col-2{
		border-left: 0px;
		float: none;
		padding-left: 0px;
	}
	.customer-account-login .scaffold-form label:first-child{
		width: 100%;
	}
	.fieldset p.login-requerido{
		margin-bottom: 15px;
		float: none;
	}
	.customer-account-forgotpassword .fieldset, 
	.customer-account-forgotpassword .buttons-set{
		margin-left: 0px;
	}
	.account-login #login-form .registered-users .form-list,
	.customer-account-forgotpassword #form-validate .form-list{
		margin-top: 25px;
	}
	.customer-account-forgotpassword #form-validate .required{
		padding-top: 5px;
	}

	/* Dashboard */
	.dashboard .box-account,
	.dashboard .box-head{
		border-bottom: 0px;
	}
	.preu-table{
		width: 100px;
	}
	.my-account .buttons-set{
		border-top: 0px;
	}
	#my-orders-table .shipping,
	#my-orders-table .subtotal,
	#my-orders-table_length,
	#my-orders-table_info{
		display: none;
	}
	#my-orders-table_wrapper table#my-orders-table,
	#my-orders-table_wrapper table#my-orders-table thead th, 
	#my-orders-table_wrapper table#my-orders-table thead td{
		border-bottom: 0px;
	}
	#my-orders-table_wrapper table#my-orders-table, 
	#my-orders-table_wrapper table#my-orders-table thead th, 
	#my-orders-table_wrapper table#my-orders-table thead td{
		vertical-align: middle;
		font-weight: 400;
	}
	table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_desc{
		background-image: none !important;
	}
	table.dataTable thead .sorting_asc:after,
	table.dataTable thead .sorting_desc:after{
		content: '\f0d8';
		font-family: FontAwesome;
		display: inline-block;
		font-size: 13px;
		color: #C00000;
		margin-left: 7px;
	}
	table.dataTable thead .sorting_desc:after{
		content: '\f0d7';
	}
	.dataTables_wrapper .dataTables_filter{
		margin-bottom: 20px;
		margin-top: 15px;
	}
	.form-presupuesto input{
		margin: 0px;
	}
	.form-presupuesto .button{
		display: block;
		margin-top: 20px;
	}
	.form-presupuesto .bloque{
		display: inline-block;
		vertical-align: top;
		margin: 10px 0px;
		width: 45%;
	}
	.form-presupuesto .bloque label,
	.form-presupuesto .bloque input{
		display: block;
	}
	.info-presupuesto{
		margin-top: 25px;
	}
	.info-presupuesto h4{
		margin-bottom: 0px;
	}
	.info-presupuesto p{
		background: #eee none repeat scroll 0 0;
	    margin-bottom: 20px;
	    padding: 10px 20px;
	}
	.table-info-order{
		margin-bottom: 25px;
	}
	.table-info-order th,
	.table-info-order td{
		padding: 10px 20px;
	}
	.table-info-order th,
	.table-info-shipment th{
		background: #ADADAD;
		font-weight: 600;
	}
	.table-info-order td,
	.table-info-shipment td{
		background: #EEEEEE;
	}
	.comentarios-envios{
		margin-top: 20px;
	}
	.table-info-shipment th,
	.table-info-shipment td{
		padding: 5px 20px;
	}
	.table-info-shipment{
		margin: 15px 0px;
	}
	.sales-order-view .informacion-pedido .pedido-direccion{
		margin-top: 0px;
	}
	.truncated .truncated_full_value .item-options{
		left: 0px;
		max-height: 225px;
		width: 500px;
		top: -48px;
	}
	#my-orders-table .truncated .truncated_full_value .item-options{
		top: 90px;
		position: fixed;
	}

	.data-table tbody td .item-options{
		margin-left: 0px;
	}
	.item-options dd{
		padding-left: 0px;
	}
	.precio-pedido{
		background: #C00000 none repeat scroll 0 0;
	    border-radius: 4px;
	    color: #fff;
	    display: inline-block;
	    font-size: 15px;
	    font-weight: 600;
	    margin-bottom: 20px;
	    padding: 20px 40px;
	    margin-right: 10px;
	}
	.data-table thead th, 
	.data-table tbody td{
		border-top: 1px solid #DDDDDD;
		border-bottom: 0px;
	}
	.informacion-pedido .no-enviado{
		background: #FEA680;
	}
	.informacion-pedido .enviando{
		background: #FFC080;
	}
	.informacion-pedido .completado{
		background: #B8D09B;
	}
	.informacion-pedido thead th{
		background: #ADADAD;
	}
	.dataTables_filter input{
		margin-left: 10px;
	}
	.order-details .order-links{
		margin-bottom: 20px;
	}
	.sales-order-shipment .informacion-pedido .pedido-direccion{
		margin-top: 0px;
	}
	#wlname{
		font-size: 12px;
		width: 33% !important;
		font-style: normal !important;
	}
	.customer-account .my-account .table-info-order a.link-reorder{
		top: auto;
	}
	.addresses-list h2{
		font-size: 20px;
	}
	.dataTables_paginate{
		display: block;
		text-align: center;
		margin: 20px 0px;
	}
	.dataTables_paginate span:before,
	.dataTables_paginate span:after{
		content: '-';
		color: #DDDDDD;
	}
	.dataTables_paginate a{
		font-size: 15px;
		margin: 0 4px;
		color: #333333;
	}
	.dataTables_paginate a:hover{
		text-decoration: underline;
		cursor: pointer;
	}
	.dataTables_paginate a.current{
		color: #C00000;
	}
	.aplicar-cambios{
		margin-bottom: 30px;
		margin-top: 20px;
	}
	.mwishlists #tabsandcontent #content #central_head tr td{
		vertical-align: top;
	}
	.mwishlists #tabsandcontent #content #central_head tr td:first-child .button{
		margin-top: 20px;
		display: block;
	}
	#wishlist-table .product-name{
		margin-top: 20px;
	}
	.form-pdf,
	.confirm-presupuesto{
		display: inline-block;
		margin-top: 20px;
		text-align: right;
	}
	.form-pdf{
		width: 65%;
	}
	.form-pdf-confirmado{
		display: inline-block;
		margin-top: 20px;
		text-align: left;
	}



/* FOOTER */
.footer,
.footer address{
	border-top: 0px;
}


/* HEADER */
#header-nav{
	border-bottom: 0px;
}
#header-search{
	width: 100%;
	position: relative;
	top: 0px;
}
	/* Buscador */
	#search-result{
		padding-top: 30px;
		padding-bottom: 20px;
		padding-left: 40px;
	}
	#autocomplete-content{
		width: 100%;
	}
	#searchr-result-containter{
		right: 0px !important;
	}
	#search-result ul.products-grid{
		border-bottom: 0px;
	}
	#search-result ul.products-grid li{
		border-bottom: 1px solid #ddd !important;
	    display: inline-block;
	    float: none;
	    min-height: 183px;
	    margin-bottom: 28px;
	    vertical-align: top;
	    width: 19%;
	}
	.products-grid > li:nth-child(3n+1){
		clear: none;
	}
	#autocomplete-content{
		border-color: #C00000;
	}

	/* Carrito */
	.header-minicart .product-details .product-name{
		font-weight: 500;
	}
	.header-minicart .product-details .product-name a{
		color: #888888;
	}
	.header-minicart .info-wrapper .qty{
		width: 4.2em;
	}


/* CARRO */
.cart-table{
	width: 100%;
	float: none;
}
.informacion-pedido .pedido-direccion{
	margin-bottom: 45px;
	margin-top: 25px;
}
.informacion-pedido .product-cart-actions .qty{
	height: 33px;
}
.informacion-pedido .producto-direccion .imagen-producto img{
	max-width: 180px;
}
.informacion-pedido .producto-direccion{
	width: 49.5%;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 35px;
}
.informacion-pedido .producto-direccion .imagen-producto{
	margin-right: 20px;
}
.informacion-pedido .producto-direccion .imagen-producto,
.informacion-pedido .producto-direccion .contenido-producto{
	display: inline-block;
	vertical-align: top;
}
.informacion-pedido .producto-direccion .contenido-producto{
	width: 100%;
}
.informacion-pedido .producto-direccion .contenido-producto .informacion-producto,
.informacion-pedido .producto-direccion .contenido-producto .product-cart-actions{
	display: block;
	vertical-align: top;
}
.informacion-pedido .producto-direccion .contenido-producto .product-cart-actions,
.informacion-pedido .producto-direccion .contenido-producto .product-cart-actions .eliminar-producto{
	margin-top: 20px;
}
.informacion-pedido .producto-direccion .contenido-producto .eliminar-producto{
	display: block;
}
.checkout-cart-index .btn-empty{
	margin-top: 15px;
}
.mini-products-list .item .product-details .truncated{
	display: inline-block;
}
.mini-products-list .truncated .truncated_full_value .item-options{
	left: -160px;
	max-height: none;
}
.informacion-pedido .pedido-direccion .opcion-producto{
	font-size: 13px;
}
.informacion-pedido .pedido-direccion .opcion-producto span,
.informacion-pedido .pedido-direccion a:hover{
	color: #C00000;
}
.informacion-pedido .pedido-direccion a{
	color: #666666;
}
.maximo-comanda{
    background: #333333 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    margin-top: 15px;
    padding: 6px 15px;
    vertical-align: top;
}
.export-excel{
	float: right;
	margin-top: 46px;
}
.checkout-cart-index .btn-update{
	border: 0px;
	background: none;
}
.checkout-cart-index .btn-update:hover{
	text-decoration: underline;
	color: #bf0000;
}
.checkout-cart-index .informacion-pedido table .acciones-cart{
	width: 17%;
}
.checkout-cart-index .informacion-pedido table{
	width: 100%;
}
.tiempo-maximo{
	margin-top: 17px;
	display: inline-block;
	margin-top: 45px;
}
.tiempo-maximo label{
	margin-right: 10px;
}
.tiempo-maximo input{
	max-width: 60px;
	height: 34px;
}

	/* Efecto accordion */
	.accordion, .accordion *{
		-webkit-box-sizing:border-box; 
		-moz-box-sizing:border-box; 
		box-sizing:border-box;
	}
	.accordion{
		overflow:hidden;
		box-shadow:0px 1px 3px rgba(0,0,0,0.25);
		border-radius:3px;
		background:#f7f7f7;
	}
	.accordion-section-title{
		width:100%;
		padding:15px;
		display:inline-block;
		border-bottom:1px solid #999;
		background:#888;
		transition:all linear 0.15s;
		font-size:1.200em;
		color:#fff;
	}
	.accordion-section-title:hover,
	.accordion-section-title:focus{
		color: #fff;
	}
	.accordion-section-title.active, .accordion-section-title:hover{
		background:#4c4c4c;
		text-decoration:none;
	}
	.accordion-section:last-child .accordion-section-title{
		border-bottom:none;
	}
	.accordion-section-content{
		padding:15px;
		display:none;
	}


/* ONE STEP CHECKOUT */
.opc-wrapper-opc #opc-review-block{
	top: 0px;
	position: relative;
	width: 100%;
}
.opc-wrapper-opc #opc-review-block .informacion-pedido .pedido-direccion{
	margin-top: 10px;
	margin-bottom: 20px;
}
.opc-wrapper-opc #opc-review-block .informacion-pedido thead th,
.checkout-cart-index .informacion-pedido .pedido-direccion thead th,
.opc-wrapper-opc #opc-review-block .informacion-pedido tbody td,
.checkout-cart-index .informacion-pedido .pedido-direccion tbody td,
.info-tiempo-maximo thead th,
.info-tiempo-maximo tbody td{
	background: #f5f5f5 none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 5px 10px;
}
.info-tiempo-maximo{
	margin-bottom: 20px;
}
.opc-wrapper-opc #opc-review-block .informacion-pedido tbody td,
.info-tiempo-maximo tbody td{
	background: #ffffff;
	font-size: 12px;
}
.opc-wrapper-opc #opc-review-block .informacion-pedido tbody td a{
	font-size: 13px;
	display: block;
}
.opc-wrapper-opc #opc-review-block .informacion-pedido tbody td a:hover{
	color: #C00000;
}
.opc-wrapper-opc .btn-checkout span span{
	background: #C00000;
}
.opc-wrapper-opc .btn-checkout:hover span span{
	background: #888888;
}
.opc-wrapper-opc #opc-review-block{
	box-shadow: none;
	border: 0px;
	padding: 0px;
}
.opc-index-index .informacion-pedido .producto-direccion .imagen-producto img{
	max-width: 80px;
}
.opc-index-index #opc-review-block h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #C00000;
	border-bottom: 1px solid #C00000;
	margin-bottom: 12px;
}
.opc-index-index .informacion-producto .product-name a,
.opc-index-index .informacion-producto .producto-opciones p{
	font-family: 'Open Sans', sans-serif;
	color: #333333;
	font-size: 13px;
	margin-bottom: 0px;
}
.opc-index-index .informacion-producto .producto-opciones p{
	font-size: 12px;
}
.opc-index-index .informacion-producto .product-name a{
	font-size: 14px;
}
.opc-index-index .informacion-producto .product-name a:hover{
	color: #C00000;
}
.opc-index-index .informacion-pedido .producto-direccion{
	width: 100%;
	margin-bottom: 5px;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
}
.opc-index-index .informacion-pedido .pedido-direccion .cantidad-checkout{
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	color: #C00000;
	margin-bottom: 0px;
	display: inline-block;
}
.opc-index-index .informacion-pedido .pedido-direccion .cantidad-checkout:before{
	content: '|';
	margin: 0 5px;
}
.opc-index-index .informacion-pedido .pedido-direccion{
	margin-bottom: 0px;
}
.opc-wrapper-opc .opc-col-right{
	float: none;
	padding-left: 0px;
	margin-top: 40px;
}
.opc-index-index .informacion-pedido .titulo-opcion{
	font-style: normal;
	color: #C00000;
	font-size: 12px;
}
.opc-messages .opc-messages-action .button span span{
	background: #bf0000 none repeat scroll 0 0;
	border: 0 none;
	border-radius: 4px;
	color: #ffffff;
	display: inline-block;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
	padding: 7px 20px;
	text-align: center;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out 0s;
	vertical-align: middle;
	white-space: nowrap;
	height: auto;
}
.opc-messages-action .button span{
	height: auto;
	background: transparent;
	line-height: 19px;
}
.opc-messages-action .button:hover span, 
.opc-messages-action .button:hover span span{
	background: rgba(191, 0, 0, 0.5) none repeat scroll 0 0;
}
.opc-index-index .informacion-pedido table.pedido-direccion{
	width: 100%;
}

/* ENVIOS */
.sales-order-shipment .Rebut{
	background: rgba(0, 128, 0, 0.2);
}
.sales-order-shipment .Pendent{
	background: rgba(255, 0, 0, 0.2);
}

/* PRINT */
.page-print h1{
	font-size: 20px;
}
.page-print h3{
	font-size: 14px;
}
.page-print table tbody p,
.page-print table tbody span,
.page-print table tbody td{
	font-size: 10px;
}
.page-print table thead th{
	font-size: 11px;
}
.page-print .logo{
	min-height: auto;
}
.page-print .buttons-set{
	display: none;
}
.sales-order-printshipment .item-options{
	margin-top: 0px;
}
.mktpsuperorder-index-print .data-table tr th,
.mktpsuperorder-index-print .data-table tr td,
.mktpsuperorder-index-print .item-options dt,
.mktpsuperorder-index-print .item-options dd,
.mktpsuperorder-index-print .data-table .titulo-opcion,
.mktpsuperorder-index-print .data-table tr td p,
.sales-order-printshipment .data-table tr th,
.sales-order-printshipment .data-table tr td,
.sales-order-printshipment .item-options dt,
.sales-order-printshipment .item-options dd,
.sales-order-printshipment .data-table .titulo-opcion,
.sales-order-printshipment .data-table tr td p{
	font-size: 9px;
	font-weight: 400;
}
.sales-order-printshipment .data-table,
.mktpsuperorder-index-print .data-table{
	margin-bottom: 10px;
}
.sales-order-printshipment .data-table tr th,
.mktpsuperorder-index-print .data-table tr th{
	padding: 4px;
}
.sales-order-printshipment .data-table tr td,
.mktpsuperorder-index-print .data-table tr td{
	padding: 5px;
}
.sales-order-printshipment h1,
.mktpsuperorder-index-print h1{
	margin-bottom: 0px;
	text-decoration: underline;
	font-size: 13px;
}
.sales-order-printshipment h3,
.mktpsuperorder-index-print h3{
	font-weight: 600;
}
.sales-order-printshipment h3,
.sales-order-printshipment h2,
.mktpsuperorder-index-print h3,
.mktpsuperorder-index-print h2{
	font-size: 11px;
	margin-bottom: 0px;
}
.sales-order-printshipment .order-date,
.mktpsuperorder-index-print .order-date{
	font-size: 8px;
	margin-bottom: 10px;
}
.mktpsuperorder-index-print .pedido-direccion .cab-subtotal{
	padding-left: 5px;
	padding-right: 5px;
}
.mktpsuperorder-index-print .logo-impresion{
	margin-bottom: 20px;
	max-width: 300px;
}
.sales-order-print .pedido-direccion .titulo-opcion,
.mktpsuperorder-index-print .pedido-direccion #my-orders-table .titulo-opcion,
.sales-order-printshipment .data-table .titulo-opcion{
	font-weight: 600;
}