<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-products">Pressupostos per la comanda</h4>
    </div>
</div>
<?php

    $proveedores = $this->getPonderacion();
    // Itteria - Ordenamos las ponderaciones en funcion de su precio total
    foreach ($proveedores as $clave => $fila) {
        $importe[$clave] = $fila['total'];
    }
    array_multisort($importe, SORT_ASC, $proveedores);

    // Itteria - Obtenemos la ultima ponderacion del pedido
    $order = $this->getOrder();
    $ponderaciones = Mage::getModel('mktpsuperorder/ponderacion')->getCollection()->addFieldToFilter('order_id', $order->getId());
    $ultima_ponderacion_id = 0;
    foreach ($ponderaciones as $ponderacion) {
        if($ponderacion->getId() > $ultima_ponderacion_id){
            $ultima_ponderacion_id = $ponderacion->getId();
            $ultima_ponderacion = $ponderacion;
        }
    }
?>
<?php $count = 0; ?>
<div class="informacion-pedido accordion">
    <?php 
        foreach ($proveedores as $proveedor){
            $count++;
            ?>
            <a class="accordion-section-title" href="#accordion-<?php echo $count ?>">
                <?php echo $proveedor['empresa'] . ' ( NIF: ' . $proveedor['cif'] . ' ) <b> Total: ' . $proveedor['importe'] . '</b>' ?>
            </a>
            <div class="pedido-direccion accordion-section-content" id="accordion-<?php echo $count ?>">
                <div class="grid np">
                    <div class="hor-scroll">
                        <table class="data order-tables">
                            <thead>
                                <tr class="headings">
                                    <th><?php echo __('Proveedor'); ?></th>
                                    <th><?php echo __('CIF'); ?></th>
                                    <th><?php echo __('Importe'); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border ">
                                    <td><?php echo $proveedor['empresa']; ?></td>
                                    <td><?php echo $proveedor['cif']; ?></td>
                                    <td><?php echo $proveedor['importe']; ?></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="data order-tables">
                            <thead>
                                <tr class="headings">
                                    <th><?php echo __('Producte'); ?></th>
                                    <th><?php echo __('Preu'); ?></th>
                                    <th><?php echo __('Quantitat'); ?></th>
                                    <th><?php echo __('Subtotal S/IVA'); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                    $proveedor_ponderacion = Mage::getModel('core/store')->getCollection()->addFieldToFilter('name', $proveedor['empresa']);     
                                    $productos = Mage::getModel('mktpsuperorder/ponderacion_item')->getCollection()->addFieldToFilter('ponderacion_id', $ultima_ponderacion_id);
                                    foreach ($productos as $producto) {
                                        $proveedor_producto = Mage::getModel('mktpsuperorder/ponderacion_proveedor')->load($producto->getData('proveedor_id'));
                                        if($proveedor_producto->getProveedor() == $proveedor['empresa']){ ?>
                                            <tr>
                                                <td><?php echo Mage::getModel('catalog/product')->load($producto->getData('product_id'))->getName() ?></td>
                                                <td><?php echo number_format($producto->getData('price'), 2, "," , ".") . ' €' ?></td>
                                                <td><?php echo $producto->getData('qty'); ?></td>
                                                <td><?php echo number_format($producto->getData('row_total'), 2, "," , ".") . ' €' ?></td>
                                            </tr>
                                        <?php }
                                    }    
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <?php }
    ?>
</div>
<br />
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-products">Rebuigs</h4>
    </div>
</div>

<?php $rechazos = $this->getRechazos(); ?>
<?php
// Itteria - Ordenamos las ponderaciones en funcion de su precio total
foreach ($rechazos as $clave => $fila) {
    $montiu[$clave] = $fila['total'];
}
array_multisort($montiu, SORT_ASC, $rechazos);
?>
<div class="informacion-pedido accordion">
    <?php 
        foreach ($rechazos as $rechazo){
            $count++;
            ?>
            <a class="accordion-section-title" href="#accordion-<?php echo $count ?>">
                <?php echo $rechazo['empresa'] . ' ( NIF: ' . $rechazo['cif'] . ' ) <b> Total: ' . $rechazo['montiu'] . '</b>' ?>
            </a>
            <div class="pedido-direccion accordion-section-content" id="accordion-<?php echo $count ?>">
                <div class="grid np">
                    <div class="hor-scroll">
                        <table class="data order-tables">
                            <thead>
                                <tr class="headings">
                                    <th><?php echo __('Proveedor'); ?></th>
                                    <th><?php echo __('CIF'); ?></th>
                                    <th><?php echo __('Importe'); ?></th>
                                    <th><?php echo __('Coentario'); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border ">
                                    <td><?php echo $rechazo['empresa']; ?></td>
                                    <td><?php echo $rechazo['cif']; ?></td>
                                    <td><?php echo $rechazo['montiu']; ?></td>
                                    <td><?php echo $rechazo['comment']; ?></td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="data order-tables">
                            <thead>
                                <tr class="headings">
                                    <th><?php echo __('Producte'); ?></th>
                                    <th><?php echo __('Preu'); ?></th>
                                    <th><?php echo __('Quantitat'); ?></th>
                                    <th><?php echo __('Subtotal S/IVA'); ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php
                                    $proveedor_ponderacion = Mage::getModel('core/store')->getCollection()->addFieldToFilter('name', $rechazo['empresa']);     
                                    $productos = Mage::getModel('mktpsuperorder/ponderacion_item')->getCollection()->addFieldToFilter('ponderacion_id', $ultima_ponderacion_id);
                                    foreach ($productos as $producto) {
                                        $proveedor_producto = Mage::getModel('mktpsuperorder/ponderacion_proveedor')->load($producto->getData('proveedor_id'));
                                        if($proveedor_producto->getProveedor() == $rechazo['empresa']){ ?>
                                            <tr>
                                                <td><?php echo Mage::getModel('catalog/product')->load($producto->getData('product_id'))->getName() ?></td>
                                                <td><?php echo number_format($producto->getData('price'), 2, "," , ".") . ' €' ?></td>
                                                <td><?php echo $producto->getData('qty'); ?></td>
                                                <td><?php echo number_format($producto->getData('row_total'), 2, "," , ".") . ' €' ?></td>
                                            </tr>
                                        <?php }
                                    }    
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        <?php }
    ?>
</div>
<br />
