<!--@subject La petició {{var order.increment_id}} s’ha actualitzat @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table style="width: 640px; background: transparent; padding-top: 30px; font-size: 16px;" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td style="background: #fff;"  class="action-content celda-aceptar-comanda">
            <p>La petició {{var order.increment_id}} s’ha actualitzat a aquest estat: {{var order.getStatusLabel()}}</p>
            <p>Podeu comprovar l’estat de la petició autentificant-vos al teu vostre compta de l’aplicació.</p>
            <p>Si teniu qualsevol pregunta, contacteu amb nosaltres mitjançant l’adreça de correu  {{var supervisor}}</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}