.licensekey-warning {background: url(notice_price.gif) top left no-repeat;padding:0 0 0 20px;}
#nav  a{line-height: 32px;}


#nav .mlx{color: #0aa6a5; font-weight: bold; font-size: 18px; background: url(logo_2525.png) center no-repeat; text-indent: -9999em; width: 32px;}