<?php
/**
 * Magedelight
 * Copyright (C) 2014  Magedelight <info@krishinc.com>
 *
 * NOTICE OF LICENSE
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see http://opensource.org/licenses/gpl-3.0.html.
 *
 * @category   Ktpl
 * @package    Ktpl_Autocomplete
 * @copyright  Copyright (c) 2014 Magedelight (http://www.magedelight.com/)
 * @license    http://opensource.org/licenses/gpl-3.0.html GNU General Public License, version 3 (GPL-3.0)
 * @author     Magedelight <info@krishinc.com>
 */
?>
<?php

$catalogSearchHelper =  $this->helper('catalogsearch');
$catalogSearchHelper->getEscapedQueryText();
$url = $catalogSearchHelper->getResultUrl($catalogSearchHelper->getEscapedQueryText());
$_productCollection = $this->getProductCollection();
$_productCount = $_productCollection->count();
$_helper = $this->helper('catalog/output');
?>
<?php echo $this->getMessagesBlock()->getGroupedHtml(); ?>

<?php $target = Mage::helper('autocomplete')->getTarget(); ?>

<?php if($this->getMode() == 'list'): ?>
    <?php // List Mode ?>
    <ul class="products-list">
        <li id="autocomplete_hidden" class="autocomplete_hidden"><span style="text-align:center;"></li>
        <?php if($_productCount == 0): ?>
            <li class="notice-message"><?php echo Mage::helper('autocomplete')->getNoticeMessage(); ?></li>
        <?php endif; ?>
        <?php $counter = 0;foreach ($_productCollection as $_product): ?>
            <?php
            if(!$_product->getSku()){
                $newProduct = Mage::getModel('catalog/product')->load($entityId);
                $sku = $newProduct->getSku();
                $_product->setData("sku",$sku);
            }
            $session=Mage::getSingleton('customer/session');
            if($_product->getMinimalPrice()){
                $_productprice = $_product->getMinimalPrice();
            }else{
                $_productprice = $_product->getFinalPrice();
            }
            if($session->isLoggedIn()){
                $groupPrices = $_product->getData('group_price');
                if(isset($groupPrices[$session->getCustomerGroupId()])){
                    $_productprice = $groupPrices[$session->getCustomerGroupId()]['price'];
                }
            }
            ?>
            <li class="<?php echo (++$counter + 1)%2?'odd':'even'?><?php if($counter==1){ echo ' first';}elseif($counter==$_productCollection->count()){ echo ' last';}  ?>">
                <a href="<?php echo $_product->getProductUrl(); ?>" target="<?php echo $target; ?>" style="text-decoration:none;">
                    <div class="img-box-area">
                        <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(80, 80); ?>" width="80" height="80" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                    </div>
                    <div class="content-box-area" style="text-align: left ! important; font-size: 12px ! important;margin-left:80px !important;margin-right:5px !important;">
                        <h3 style="text-align: left ! important; font-size: 12px ! important;"><?php echo $_product->getName(); ?></h3>
                        <!--<p style="font-size:0.9em;line-height:1.4em;margin:2px 0 0;"></p>-->
                        <!--<div class="std">
							<?php //echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
						</div>-->
                        <!--
                        <div class="no-border price-box">
							<span id="product-price-16" class="regular-price">
								<span class="price-label"><?php // echo $this->__('Price:') ?></span>
								<span class="price"><?php //echo Mage::helper('core')->currencyByStore($_productprice) ?></span>
							</span>
                        </div>
                        -->
                        <?php if($_product->getTypeID()=='bundle'): ?>
                        <div class="auto-fright" style="">
                        <div class="price-box">
                            <p class="price-from">
                                <span class="price-label">From:</span>
                                <span class="price"><?php  echo Mage::helper('core')->currencyByStore($_product->getMinPrice()) ?></span>
                            </p>
                            <p class="price-to">
                                <span class="price-label">To:</span>
                                <span class="price"><?php  echo Mage::helper('core')->currencyByStore($_product->getMaxPrice()) ?></span>
                            </p>
                        </div>
                           </div>
                        <?php else: ?>
                         <div class="auto-fright" style="">
                        <?php echo $this->getPriceHtml($_product, true) ?>
                         </div>
                        <?php endif; ?>
                        </div>
                    <div class="clear"></div>
                </a>
            </li>
            <?php //print_r($_product->getData()); ?>
        <?php endforeach; ?>
        <?php //exit; ?>
    </ul>
    <?php  if($_productCount): ?>
        <div align="center"><a href="<?php echo $url ?>">View All</a></div>
    <?php endif; ?>
<?php else: ?>
    <?php // Grid Mode ?>
    <?php $_columnCount = Mage::getStoreConfig('autocomplete/general/grid_column_count'); ?>
    <ul id="search_hidden"><li id="autocomplete_hidden" class="autocomplete_hidden"><span style="text-align:center;"></li></ul>
    <?php if($_productCount == 0): ?>
        <ul><li class="notice-message"><?php echo Mage::helper('autocomplete')->getNoticeMessage(); ?></li></ul>
    <?php endif; ?>
    <?php $counter = 0;foreach ($_productCollection as $_product): ?>
        <?php
        if(!$_product->getSku()){
            $newProduct = Mage::getModel('catalog/product')->load($entityId);
            $sku = $newProduct->getSku();
            $_product->setData("sku",$sku);
        }
        $session=Mage::getSingleton('customer/session');
        $_productprice = $_product->getFinalPrice();
        if($session->isLoggedIn()){
            $groupPrices = $_product->getData('group_price');
            if(isset($groupPrices[$session->getCustomerGroupId()])){
                $_productprice = $groupPrices[$session->getCustomerGroupId()]['price'];
            }
        }
        ?>
        <?php if($counter++%$_columnCount == 0): ?>
            <ul class="products-grid">
        <?php endif; ?>
        <li class="item<?php if(($counter-1)%$_columnCount==0): ?> first<?php elseif($counter%$_columnCount==0): ?> last<?php endif; ?>">
            <a href="<?php echo $_product->getProductUrl(); ?>" target="<?php echo $target; ?>" style="text-decoration:none;">
                <div class="img-box-area">
                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(75, 75); ?>" width="75" height="75" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>"/>
                </div>
                <div class="content-box-area">
                    <h3><?php echo $_product->getName(); ?></h3>
                    <!--<p style="font-size:0.9em;line-height:1.4em;margin:2px 0 0;"></p>-->
                    <!--<div class="std">
								<?php //echo $_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description') ?>
							</div>-->
                    <!-- <div class="no-border price-box">
								<span id="product-price-16" class="regular-price">
									<span class="price-label"><?php //echo $this->__('Price:') ?></span>
									<span class="price"><?php //echo Mage::helper('core')->currencyByStore($_productprice) ?></span>
								</span>
                    </div>
                    -->
                    <?php if($_product->getTypeID()=='bundle'): ?>
                        <div class="price-box">
                            <p class="price-from">
                                <span class="price-label">From:</span>
                                <span class="price"><?php  echo Mage::helper('core')->currencyByStore($_product->getMinPrice()) ?></span>
                            </p>
                            <p class="price-to">
                                <span class="price-label">To:</span>
                                <span class="price"><?php  echo Mage::helper('core')->currencyByStore($_product->getMaxPrice()) ?></span>
                            </p>
                        </div>
                    <?php else: ?>
                        <?php echo $this->getPriceHtml($_product, true) ?>
                    <?php endif; ?>
                </div>
                <div class="clear"></div>
            </a>
        </li>
        <?php if($counter%$_columnCount==0 || $counter==$_productCount): ?>
            </ul>
        <?php endif ?>
    <?php endforeach; ?>
    <?php  if($_productCount): ?>
        <div align="center"><a href="<?php echo $url ?>"><?php echo $this->__('View All') ?></a></div>
    <?php endif; ?>
<?php endif; ?>
